<header>
  <nav>
    <a href="{{ route('home') }}"><img class="logo" src="./img/WOF.png" /></a>
    <div class="headerMenuUser">
      <p>{{ username }}</p>
      <a href="{{ route('login') }}">Se déconnecter</a>
    </div>
  </nav>
</header>
