@component('components/layout', { title: 'Accueil' })
<h1>Decks</h1>
<div class="decks">
    @foreach (deck in decks)
<a class="decksLign">
    @if(deck && deck.title && deck.description && deck.nb_carte)
        <p>{{ deck.title }}</p>
        <p>{{ deck.description }}</p>
        <p>{{ deck.nb_carte }}</p>
    @else
        <p>Incomplete or empty deck data</p>
    @endif
</a>
@endforeach
    
</div>
@endcomponent
