* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

header,
footer {
  background-color: #cecece;
}

.logo {
  width: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerMenuUser {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formlabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

#errorMessage {
  color: red;
  font-weight: bold;
}

form a {
  display: inline-block;
  border: solid 1px #a3a3a3;
  background-color: #dfdfdf;
}

.decksLign {
  display: flex;
  flex-direction: row;
}

.decks a {
  cursor: pointer;
}

.decks {
  display: flex;
  flex-direction: column;
}

/** {
  transition: all 30s;
}

*:hover {
  rotate: 0.5deg;
}*/
